/*
*{outline:1px dotted red}
202D57 plonedarkblue (like on '#category a.link-category:hover' of public.css))
205c90 plonepublishedlinkblue
E5F2F5 lightblue
body.section-forumail:not(.userrole-manager) .selectedTagsSection,
body.section-forumail:not(.userrole-manager) .newTagsSection {
    display: none;
}
*/
body.section-forumail .selectedTagsSection,
body.section-forumail .newTagsSection {
    display: none;
}
body.section-forumail #category a.link-category,
body.section-forumail span.selectedTag,
body.section-forumail {
overflow:hidden; /*
    background: #202D57;
    color: #e2e2e2;
    border-color: #e2e2e2;
DEV*/
    line-height: 1.5em;
}
body.section-forumail #category a.link-category,
body.section-forumail span.selectedTag {
/*
    background: #205c90;
*/
}
.forumail {
/*
border-color: #555;
*/
border: 1px dotted;
max-width: 640px;
margin: 0 auto;
padding: 0.27em;
}
.forumail > .head {
    padding: 0.27em 0;
    margin-top: 0.27em;
}
.forumail .add {
    font-weight: bold;
    font-size: 1.27em;
float: right;
}
.forumail > .head .threaded a,
.forumail .add {
    display: inline-block;
    text-align: center;
    width: 1em;
}
.forumail .post {
border: 1px dotted;
    padding: 0.27em;
    margin-top: 0.27em;
}
.forumail .post:last-child,
.forumail .post .body,
.forumail .threadedTrue .post .header,
.forumail .post .head {
    margin-bottom: 0.27em;
}
.forumail .post .body,
.forumail .threadedTrue .post.iniTrue {
    margin-top: 0.27em;
}
.forumail .post:first-child,
.forumail .threadedTrue .post,
.forumail .threadedTrue .post.iniTrue:first-child {
    margin-top: 0;
}
.forumail .threadedTrue .post {
    border-top: none;
}
.forumail .threadedTrue .post.iniTrue {
    border-top: 1px dotted;
}
.forumail .post .foot,
.forumail .post .head {
    color: #777;
    font-size: 0.77em;
}
.forumail .post .head > * {
    margin-left:  0.27em;
    margin-right:  0.27em;
float: right;
}
.forumail .post .head > *:first-child { 
/*    margin-left: 0;*/
margin-right: 0;
}
.forumail .post .head > *:last-child {
/*    margin-right: 0;*/
margin-left: 0;
}
.forumail .post .foot {
text-align: right;
    font-size: 0.77em;
}
.forumail .post .header {
    font-size: 1.27em;
}
.forumail .indentator {
    margin-left: 1.27em;
    padding-left: 0.27em;
    border-left: 1px dotted;
}
.forumail .post img.avatar {
    height: 1.27em;
    width: 1.27em;
}
.section-forumail div.width-full {
    width: 100%;
}
.section-forumail div.position-0 {
    margin-left: -100%;
}

