/*
* {outline:1px dotted red}
*/
.section-forumail div.width-full {
    width: 100%;
}
.section-forumail div.position-0 {
    margin-left: -100%;
}
.forumail {
font-family:sans;
letter-spacing: 0.0125em;
font-family:Courier;
letter-spacing: -0.075em;
font-size: 1.27em;
    padding: 0.27em;
    max-width: 640px;
    margin: 0 auto;
    color: #444;
background: #FDE19B; /*lightorange*/
}
.forumail .sorting a:not(.selected) {
    color: #E5F2F5; /*lightblue*/
}
.forumail .post {
    padding: 0.27em;
    margin-top: 0.27em;
    background: #E5F2F5; /*lightblue*/
}
.forumail .post:last-child,
.forumail .post .text,
.forumail .post .head {
    margin-bottom: 0.27em;
}
.forumail .post .text,
.forumail .threadedTrue .post.iniTrue {
    margin-top: 0.27em;
}
.forumail .post:first-child,
.forumail .threadedTrue .post,
.forumail .threadedTrue .post.iniTrue:first-child {
    margin-top: 0;
}
.forumail .post .foot,
.forumail .post .head {
    color: #999;
    font-size: 0.85em;
}
.forumail .post .header {
    font-size: 1.27em;
}
.forumail .indentator {
    margin-left: 1.5em;
}
.forumail .post img.avatar {
    height: 1.25em;
    width: 1.25em;
}

