.forumail * {
padding:0;
margin:0;
line-height: 1.5em;
}
.forumail {
    outline: 1px dotted lightgreen;
}
.forumail .post .head {
    position: relative;
}
.forumail .post .body {
}
.forumail .reply,
.forumail .categories {
    float: right;
    margin-left: 0.81em;
}
.forumail .category {
    margin-left: 0.5em;
}
.forumail .id,
.forumail .title {
    position: absolute;
    left: 10em;
}
.forumail .text {
    margin-left: 10em;
}
.forumail img.avatar {
    height: 1em;
    width: 1em;
}

