/*
body:before{content:"Congrats, adi_forumail.css has been loaded succesfully!"}
*/
#content .documentDescription,
#content #description,
#content .discreet,
#content div.documentByLine,
h1, h2, h3, h4, h5, h6,
body{
background-color: #111;
color: #e2e2e2;
background-color: #e2e2e2;
color: darkblue;
line-height: 1.5em;
}

#content a:link, 
dl.portlet a:link,
#content a.link-overlay, 
#content .documentDescription {
border: none !important;
}
a,a:link,a:visited { color: blue; text-decoration: none; }

#content {
    outline:1px dotted lightgreen;
margin-left: 0.85em;
}

.item { /* post */
    outline:1px dotted red;
margin: 0.85em 0;
position: relative;
}

a.summary { /* post-title */
font-size: 88%;
}

#content div.documentByLine { /* post-author+date */
/*
position: absolute;
right: 0;
margin-top: -1.5em;
#edit-bar,
*/
}

/* DEV: /
#breadcrumbs-home,
*/
#breadcrumbs-you-are-here,
div a.managePortletsFallback,
#portal-footer,
#portal-colophon,
#portal-siteactions,
#portal-top,
/* EO DEV */
#parent-fieldname-text .gmail_extra, /* gmail-quote */
#parent-fieldname-text > div > div > div, /* gmx-quote */
.portaltype-collection #viewlet-below-content-title div.documentByLine,
.portaltype-collection #parent-fieldname-title,
.documentModified span {
display: none; 
}
