#content .documentDescription,
#content #description,
#content .discreet,
#content div.documentByLine,
h1, h2, h3, h4, h5, h6,
body{
/* daysight */
background-color: #e2e2e2;
color: #999;
/* nightsight */
background-color: #444;
color: lightblue;
/* daysight */
background-color: lightyellow;
color: darkblue;
line-height: 1.5em;
}

#content a:link, 
dl.portlet a:link,
#content a.link-overlay, 
#content .documentDescription {
border: none !important;
}
a,a:link,a:visited { color: blue; text-decoration: none; }

#content {
    outline:1px dotted lightgreen;
margin-left: 0.85em;
}

.item { /* post */
    outline:1px dotted red;
margin: 0.85em 0;
position: relative;
}

a.summary { /* post-title */
font-size: 88%;
}

.section-forumail #content div.documentByLine { /* post-author+date */
position: absolute;
right: 0;
margin-top: -1.5em;
}

.section-forumail:not(.template-folder_contents) #edit-bar,
.section-forumail:not(.template-folder_contents) #content a.managePortletsFallback,
.section-forumail:not(.template-folder_contents) div a.managePortletsFallback,
.section-forumail:not(.template-folder_contents) div.managePortletsLink,
.section-forumail #breadcrumbs-you-are-here,
.section-forumail #portal-footer,
.section-forumail #portal-colophon,
.section-forumail #portal-siteactions,
.section-forumail #portal-top,
.section-forumail.portaltype-topic #portal-column-content > div > #content > #viewlet-below-content-title > div.documentByLine,
.section-forumail #archetypes-fieldname-description,
.section-forumail .documentModified span {
display: none; 
}
/*
*/

